<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= "#{@title}"%></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1>All Movies</h1>

      <!--Display an array of hashes of all movies and all information-->
      <!--<%= @all_movies %>-->
      <!--<%= @titles_array %>-->


      <ul>
      <% @titles_array.each do |title| %>
        <li>
          <a href="<%= url("") %>">
            <%= title %>
          </a>
        </li>
      <% end %>
    </ul>


  </body>

</html>



<a href="<%= url("/position/#{position}") %>">
