<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= "#{@title}"%></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1 name="top">All Movies</h1>

      <!--Display an array of hashes of all movies and all information-->
      <!--<%= @all_movies %>-->
      <!--<%= @titles_array %>-->


      <ul>
      <% @titles_array.each do |title| %>

        <% @all_movies.each do |movie_hash| %>
          <% if movie_hash[:title] == title %>

            <li>
              <a href="<%= url("/movies/#{movie_hash[:id]}") %>">
                <%= title %>
              </a>
            </li>

          <% end %>
        <% end %>
      <% end %>
    </ul>

    <a href="#top">Back to Top</a>


  </body>

</html>



