<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= "#{@title}"%></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1 name="top">All Movies</h1>

      <!--Display an array of hashes of all movies and all information-->
      <!--<%= @all_movies %>-->
      <!--<%= @titles_array %>-->


      <ol>

      <% @movies.each do |movie_hash| %>
        <li>
          <a href="<%= url("/movies/#{movie_hash[:id]}") %>">
            <%= movie_hash[:title] %>
          </a>
        </li>
      <% end %>

    </ol>

    <p>
      <a href="/movies?page=<% @page_number - 1 %>" class="no_underline">
        Previous Page
      </a> |
      <a href="/movies?page=<%= @page_number %>" class="no_underline">
        Next Page
      </a>
    </p>

    <a href="../">Back Home</a>


  </body>

</html>



