<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= "#{@title}"%></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1 name="top">All Movies</h1>

      <!--Display an array of hashes of all movies and all information-->
      <!--<%= @all_movies %>-->
      <!--<%= @titles_array %>-->

      <form action="/movies" method="get">
        <label for="query">Search: </label>
        <input type="text" name="query" id="query" />
        <input type="submit" value="Search" />
      </form>

      <br>

      <% if @query != nil %>
        <ul>
        <% @all_movies.each do |movie_hash| %>
          <% if movie_hash[:title].include?(@query.to_s) == true %>
            <li><a href="/movies/<%= movie_hash[:id] %>">
              <%= movie_hash[:title] %>
            </a></li>
          <% elsif (movie_hash[:synopsis] != nil) && (movie_hash[:synopsis].include?(@query.to_s) == true) %>
            <li><a href="/movies/<%= movie_hash[:id] %>">
              <%= movie_hash[:title] %>
            </a></li>
          <% end %>
        <% end %>
        </ul>

      <% else %>
        <ol>
          <% @movies.each do |movie_hash| %>
            <li>
              <a href="<%= url("/movies/#{movie_hash[:id]}") %>">
                <%= movie_hash[:title] %>
              </a>
            </li>
          <% end %>
        </ol>
      <% end %>

    <p>
      <a href="/movies?page=<% @page_number - 1 %>" class="no_underline btn">
        Previous Page
      </a>
      <a href="/movies?page=<%= @page_number + 1 %>" class="no_underline btn">
        Next Page
      </a>
    </p>

    <a href="../">Back Home</a>


  </body>

</html>



