<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= "#{@title}"%></title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <h1 name="top">All Movies</h1>

      <!--Display an array of hashes of all movies and all information-->
      <!--<%= @all_movies %>-->
      <!--<%= @titles_array %>-->


      <ul>

      <% @all_movies.each do |movie_hash| %>
        <li>
          <a href="<%= url("/movies/#{movie_hash[:id]}") %>">
            <%= movie_hash[:title] %>
          </a>
        </li>
      <% end %>

    </ul>

    <a href="#top">Back to Top</a>


  </body>

</html>



